<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
        <h3>Ingredient</h3>
        <p><%=ingredient.name%></p>
         <a href="/ingredients/<%=ingredient.id%>/edit" class="button">Edit Ingredient</a>
    <%if(canDelete){ %>
         <form action="/ingredients/<%=ingredient.id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Ingredient" />
    </form>
<% }else{%>
    <% if ( foundRec >1){%>
        <p>Cannot delete - The ingredient is used in the following recipes: </p>
    <% }else{ %> 
        <p>Cannot delete - The ingredient is used in the following recipe: </p>
    <%} %> 
    <% for (let recipe of foundRec ) { %>
        <li>
            <%= recipe.name %>
        </li>
     <% } %>
    <% }%>
    </div>
</body>

</html>