<body>
  <nav>
    <%- include ('../partials/nav.ejs') %>
  </nav>
  <div class="container">
    <ul>
      <% for (let recipe of recipes ) { %>
      <% let date = new Date(recipe.createdAt); %>
      <li>
        <a href="/recipes/<%=recipe.id%>" id="recipeNameHp"><%= recipe.name %></a>
        <div id="recipeDateHp">
          <%=date.toLocaleString('default', { month: 'long' })+" "+date.getDate()+", "+date.getFullYear()%></div>
        <div id="recipeInstructionsHp"><%=recipe.instruction%></div>
      </li>
      <% } %>
    </ul>
  </div>
</body>