<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
      <ul>
        <% for (let recipe of recipes ) { %>
          <% let date = new Date(recipe.createdAt); %> 
          <li>
            <a href="/recipes/<%=recipe.id%>" >
              <%= recipe.name %><br>
              <p> <%=date.toLocaleString('default', { month: 'long' })+" "+date.getDate()+", "+date.getFullYear()%><br>
                <%=recipe.instruction%></p>
          </li>
       <% } %>
      </ul>
    </div>
  </body>
</html>